
/* Theme 1 */
/* https://coolors.co/363020-605c4e-a49966-c7c7a6-eaffda /*

$olive-drab-7: #363020ff
$ebony: #605c4eff
$ecru: #a49966ff
$sage: #c7c7a6ff
$nyanza: #eaffdaff

// $primary-color: $olive-drab-7
// $secondary-color: $ebony
// $tertiary-color: $nyanza
// $background-color2: $sage
// $background-color: $ecru

/* Theme 2 */
/* https://coolors.co/99ddc8-95bf74-659b5e-556f44-283f3b */

$middle-blue-green: #99ddc8ff
$pistachio: #95bf74ff
$russian-green: #659b5eff
$fern-green: #556f44ff
$dark-slate-gray: #283f3bff

$primary-color: $middle-blue-green
$secondary-color: $pistachio
$tertiary-color: $russian-green
$background-color2: $fern-green
$background-color: $dark-slate-gray
