@use 'colors'

html body
  margin:0
  padding:0

.menu
  background-color: colors.$background-color
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px
  a
    text-decoration: none
  .links
    display: flex
    flex-direction: row
    .menu-item-container
      padding: 10px
    .menu-item
      color: green
