@use 'colors'

html body
  margin:0
  padding:0

.central-column-grid
  display: grid
  grid-template-columns: 200px 1fr 200px

.menu
  background-color: colors.$background-color
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px
  a
    text-decoration: none
  .links
    display: flex
    flex-direction: row
    .menu-item-container
      padding: 10px
    .menu-item
      color: green


.card-container
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
  grid-gap: 30px
