<nav>
  <div class='menu'>
    <LinkTo @route='index' class='menu-index'>
      Rob's Ember Site
    </LinkTo>
    <div class='links'>
      <NavBar::NavItem @route='profile'>Profile</NavBar::NavItem>
      <NavBar::NavItem @route='demo'>Demo</NavBar::NavItem>
      <NavBar::NavItem @route='contact'>Contact</NavBar::NavItem>
    </div>
  </div>
</nav>