<div>
  <h2>Hello World!</h2>
  Welcome to my hastely put together Ember site!
  <h3>Who am I?</h3>
  My name is Rob Stringer and I am an experienced designer and developer of
  products that mostly have been intended to improve the lives of users.
  <h3>The Goal</h3>
  <p>
    This site was created part of a cross-table evaluation of whether or not the
    job of Medior Front-end Developer would be for me. The implication from the
    job posting was that EmberJS would be the framework being used, and as I
    hadn't used it before it would have been a quite junior move to just apply
    without investigating it.
  </p>
  <h3>The Rules</h3>
  <p>
    So with the goal understood, there's a number of rules and constraints this
    has been intentionally built with:
    <ol>
      <li>Exploring key EmberJS concepts and using them in the site is the
        primary goal here.</li>
      <li>If it wasn't a listed requirement on the job spec, I'm not going to
        spend much time implementing it on the site.</li>
      <li>The site is not going to look super-sexy and well styled. My visual
        design skills are limited.</li>
      <li>Don't forget accessibility.</li>
    </ol>
  </p>
  <h3>The Result</h3>
  <p>
    This site only has 4 pages and most certainly will be lacking in a number of
    ways you as the evaluator will notice.
  </p>
</div>