<div>
  <h2>Profile</h2>
  Here's an interactive version of what you've probably read on the PDF also
  submitted in the application.
  <h3>Previous Roles of Interest</h3>
  <RolesGrid @roles={{@model}} />
</div>